:root {
  --color-vivid-violet: #a437a6;
  --color-prelude: #ccb0d9;
  --color-concrete: #f2f2f2;
  --color-rajah: #f2b872;
  --color-main-background: #04030d;
}

/* you can add to or change this. */
body {
  text-align: center;
  background-color: var(--color-main-background);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
}

h1 {
  color: var(--color-concrete);
  padding: 10px 0;
  margin: 30px 0;
  font-weight: 700;
  font-size: 100px;
}

.cards-grid {
  display: none;
  min-height: 300px;
  margin: auto;
  background-color: var(--color-prelude);
  border-radius: 20px;
  padding: 20px;
}

#game .card {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--color-vivid-violet);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.clicked,
.card.matched {
  transform: rotateY(180deg);
}

#game {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  perspective: 1000px;
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  border-radius: 20px;
  transform: scale(1);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/** info-bar **/
#hint {
  color: var(--color-vivid-violet);
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
}

#flip-count {
  color: var(--color-rajah);
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

/** Begin modal **/
.start-modal,
.end-modal {
  background-color: var(--color-main-background);
  color: var(--color-concrete);
  font-weight: 700;
  width: 60%;
  border-radius: 10px;
  padding: 20px 30px;
}

.modal-content {
  display: flex;
}

.start-modal::backdrop,
.end-modal::backdrop {
  background: linear-gradient(45deg, #a437a6, blue);
  opacity: 0.5;
}

.start-btn {
  position: absolute;
}

.start-btn,
.play-again-btn {
  cursor: pointer;
  display: block;
  margin: 20px auto;
  border-radius: 4px;
  background-color: var(--color-vivid-violet);
  color: var(--color-concrete);
  border: none;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
}

.modal-text {
  width: 50%;
  text-align: left;
}

.modal-img {
  width: 500px;
  height: auto;
}

#card-number {
  border: none;
  font-size: 20px;
}

.end-modal > img {
  width: 300px;
  height: auto;
}
