/* you can add to or change this. */
body {
  text-align: center;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

/** modal **/
.start-modal {
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 20px;
}

.start-modal::backdrop {
  background: linear-gradient(45deg, red, blue);
  opacity: 0.4;
}

.start-btn {
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px;
}
